body{
    margin: 0;
    padding: 0;
    zoom: 100%;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}